<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password set</title>
    <link href="/bootstrap/bootstrap.css" rel="stylesheet">
	<script src="/sweetalert2/sweetalert2.min.js"></script>
	<link href="/sweetalert2/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
	<style>
        body{
            display: flex;
            align-items: center; /* This centers items vertically */
            justify-content: center; /* This centers items horizontally */
            height: 100vh
        }
		.container {
			border-radius: 15px;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
			margin: auto;
		}
	</style>
	<script src="/js/authentication/validation.js"></script>
	<script src="/js/authentication/timer.js"></script>
	<script src="/js/authentication/activePassword.js"></script>
</head>
<body>
		<div class="d-flex container" style="width: fit-content;">
			<div class="m-auto d-none d-sm-block" style="width: 350px;">
				<img src="/images/backgrounds/background1.gif" width="100%" height="auto">
			</div>
			<form id='password_form' style="width: fit-content;" onchange="return isValidPassword()">
				<div class="p-4">
					<div class="row">
						<div class="col mb-3">
							<h1 class="text-primary text-center">Password Set</h1>
						</div>
					</div>
					<div class="row">
						<div class="col mb-3">
							<label class="text-primary" for="newPassword">New Password : </label>
							<input tabindex="1" type="password" name="newPassword" id="newPassword"
								placeholder="New Password" class="form-control border-primary">
						</div>
					</div>

					<div class="row">
						<div class="col mb-3">
							<label class="text-primary" for="confirmPassword"  onfocus=";">Confirm Password : </label>
							<input tabindex="1" type="password" name="confirmPassword" id="confirmPassword"
								placeholder="Confirm Password" class="form-control border-primary">
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<input type="button" tabindex="6" class="btn btn-primary w-100" value="Set Password" onclick="return activePassword()">
						</div>
						<div class="col-md-6 mb-3">
							<input type="reset" tabindex="6" class="btn btn-outline-danger w-100" value="Clear">
						</div>
					</div>

					<div class="row">
						<div class="col mb-3 col text-center">
							<a href="/kartezy/register" tabindex="9">Back</a>
						</div>
					</div>
				</div>
			</form>
		</div>
</body>
</html>