<div class="row g-3 my-2">
  <a href="/kartezy/admin/getTotalCustomerReport " class="col-md-3 text-decoration-none">
    <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded admin-btn">
      <div class="text-center">
        <p class="fs-3">Customers</p>
      </div>
      <i class="bi bi-people-fill fs-1 primary-text border rounded-circle secondary-bg p-3 "></i>
    </div>
  </a>

  <a href="/kartezy/admin/getTotalVendorReport" class="col-md-3 text-decoration-none">
    <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded admin-btn">
      <div class="text-center">
        <h3 class="fs-2" id="totalvendors"></h3>
        <p class="fs-3">Vendors</p>
      </div>
      <i class="bi bi-person-standing fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </a>

  <a href="/kartezy/admin/getTotalProductReport" class="col-md-3 text-decoration-none">
    <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded admin-btn">
      <div class="text-center">
        <p class="fs-3">Products</p>
      </div>
      <i class="bi bi-box-seam fs-1 primary-text border rounded-full secondary-bg p-3 "></i>
    </div>
  </a>

  <a href="/kartezy/admin/getCustomerOrderHistoryReport" class="col-md-3 text-decoration-none">
    <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded admin-btn">
      <div class="text-center">
        <p class="fs-3">Orders</p>
      </div>
      <i class="bi bi-bag-check fs-1 primary-text border rounded-full secondary-bg p-3 "></i>
    </div>
  </a>
</div>
