<div class="bg-white sticky" id="sidebar-wrapper">
  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold border-bottom"><img src="/images/backgrounds/logo-transparent-red.png" alt="logo" width="160px"></div>
  <div class="list-group list-group-flush my-3 sidebar-list">
      <a href="/kartezy/vendorAdmin/dashboard" class="list-group-item list-group-item-action second-text" id="dashboard"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
      <a href="/kartezy/vendorAdmin/products" class="list-group-item list-group-item-action second-text" id="products"><i class="bi bi-box2 me-2"></i>Products</a>
      <a href="/kartezy/vendorAdmin/orders" class="list-group-item list-group-item-action second-text" id="orders"><i class="bi bi-box2 me-2"></i>Orders</a>
  </div>
</div>

